.hero{
    display: flex;
    justify-content: space-between;
    
}
.hero-l{
    padding:2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}
.hero-r{
    flex:1;
    display:relative;
    background-color: var(--orange);
}
.the-best{
    margin-top: 4px;
    background: #363d42;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.the-best> span{
    z-index: 2;
}
.the-best >div{
    position: absolute;
    background-color: var(--orange);
    width:5.4rem;
    height: 3rem;
    left:8px;
    border-radius: 3rem;
    
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
}
.text{
    font-size: 1rem;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 1px;
    width:80%;
}
.figures{
    display:flex;
    gap:2rem;
}
.figures>div{
    display: flex;
    flex-direction: column;
}
.figures>div>span:nth-of-type(1){
color: white;
font-size: 2rem;
}
.figures>div>span:nth-of-type(2){
    color:var(--orange) ;
    text-transform: capitalize;
    }
    .btn{
        background-color: var(--orange);
        
        padding: 0.5rem;
        font-weight: bold;
        border:4px solid transparent;
        transition: 300ms all;
        border-radius: 1rem;

        
    }
.btn:hover{
    cursor: pointer;
    background-color:burlywood;
}
.hero-buttons{
    display: flex;
    gap: 1rem;
    font-weight: normal;
}
.hero-r>button{
    position: absolute;
    right: 3rem;
    top:2rem;
    color: white;
    background-color: black;
}
.heart-rate{
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: var(--darkGrey);
    width: fit-content;
    padding:1rem;
    align-items: start;
    position: absolute;
    border-radius: 5px;
    right: 4rem;
    top:7rem;
}
.heart-rate>span:nth-of-type(2){
color:white;
font-size:1.5rem;
}
.heart-rate>span:nth-of-type(1){
    color: gray;
    }
.heart-rate>img{
        width: 2rem;
         }
.hero-image{
    position: absolute;
    right: 8rem;
    top:10rem;
    width: 23rem;
}  
.hero-image-back{
    position: absolute;
    top:4rem;
    right: 20rem;
    z-index: -1;
    width: 15rem;
}
.calories{
    display: flex;
    gap:2rem;
    background-color: var(--caloryCard);
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
    position: absolute;
    top: 32rem;
    right:28rem;
} 
.calories > img {
    width:3rem;
}    
.calories > div {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.hello{
    color: gray;
    font-size: 1rem;
}
.calories > div:nth-child(2){
    color:orange;
    font-size: 2rem;
}

.hero-blur{
width:22rem;
height: 30rem;
left: 0;
}
